@tailwind base;
@tailwind components;
@tailwind utilities;
/* .todo-reveal{
  opacity: 0;
  animation: fade-in-reveal ease 0.6s forwards;
  animation-delay: 0.2s;

}

@keyframes fade-in-reveal {
  from {
    opacity: 0;
    transform: translateY(15px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
} */


/* HOME PAGE */

/* .home-body {
  background: rgba(0, 0, 0, 0.9);
  margin: 0;
  color: #fff;
} */
.gh:hover{
  fill: rgb(139,92,246);
}

.home-showcase::after {
  content: '';
  height: 100vh;
  width: 100%;
  background-image: url(https://raw.githubusercontent.com/arnabsen1729/static-content/master/tidy/showcase.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  filter: blur(10px);
  -webkit-filter: blur(10px);
  transition: all 1000ms;
}

.home-showcase:hover::after{
  filter: blur(0px);
  -webkit-filter: blur(0px);
  transition: all 1000ms;
}
.home-showcase{
    pointer-events: none;
}
.home-content{
    pointer-events: auto;
}
.home-showcase .home-logo{
  filter: blur(0px);
  -webkit-filter: blur(0px);
  transition: all 1000ms;
}
.home-showcase .home-logo:hover{
  filter: blur(2px);
  -webkit-filter: blur(2px);
  transition: all 1000ms;
}


.home-content {
  position: absolute;
  z-index: 1;
  top: 10%;
  left: 50%;
  margin-top: 105px;
  margin-left: -145px;
  width: 300px;
  height: 350px;
  text-align: center;
  transition: all 1000ms;
}

.home-content .home-logo {
  height: 180px;
  width: 210px;
}

.home-content .home-title {
  font-size: 2.2rem;
  margin-top: 1rem;
}

.home-content {
  line-height: 1.7;
  margin-top: 1rem;
}

/* Small Screens */
@media (max-width: 560px) {
  /* .home-showcase::after {
    height: 50vh;
  } */

  .home-content {
    top: 5%;
    margin-top: 5px;
  }

  .home-content .home-logo {
    height: 140px;
    width: 140px;
  }

  .home-content .text {
    display: none;
  }


}

/* Landscape */
@media (max-height: 500px) {
  .home-content .home-title,
  .home-content  {
    display: none;
  }

  .home-content {
    top: 0;
  }
}

/* TIMER */

.timer-app {
  background-color: blue;
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-family: "Montserrat", sans-serif;
}


.timer-player-container {
  position: relative;
  height: 80%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  flex: 1;
}

.timer-player-container svg {
  position: absolute;
  height: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-90deg);
  pointer-events: none;
}
.timer-player-container svg circle {
  transition: all 0.2s ease-in-out;
}

.timer-time-display {
  color: white;
  position: absolute;
  font-size: 50px;
  bottom: 10%;
}

video {
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  z-index: -10;
}
/* Scroll hidden */
::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}


/* tooltip */
.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: rgba(255, 255, 255, 0.637);
  color: black;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: infinite;
  bottom: 30%;
  left: -20%;
  margin-left: -117px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 100%;
  margin-left: 0px;
  border-width: 5px;
  border-style: solid;
  border-color: white transparent transparent transparent;
  transform: rotate(270deg);
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

/* countdown css */
.countdown-wrap{
content: '';
height: 100%;
width: 100%;
background-image: url(https://raw.githubusercontent.com/arnabsen1729/static-content/master/tidy/timerBg.png);
background-size: cover;
background-repeat: no-repeat;
background-position: center;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
overflow-y: none;
}
.countdown-app{
  background: rgba( 255, 255, 255, 0.25 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 10px );
-webkit-backdrop-filter: blur( 10px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
width: 300px;
}
.countdown-button-wrap{
  display: flex;
  flex-direction: row;
  /* padding: 20px 15px; */
}
.countdown-button{
  /* padding: 10px 15px; */
  /* margin-left: 20px; */
  text-align: center;
  font-size: 18px;
  color: white;
  background: rgba( 255, 255, 255, 0.25 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 10px );
-webkit-backdrop-filter: blur( 10px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
display: flex;
align-items: center;

}

.base-timer {
  position: relative;
  width: 300px;
  height: 300px;
}

.base-timer__svg {
  transform: scaleX(-1);
}

.base-timer__circle {
  fill: none;
  stroke: none;
}

.base-timer__path-elapsed {
  stroke-width: 7px;
  stroke: grey;
}

.base-timer__path-remaining {
  stroke-width: 7px;
  stroke-linecap: round;
  transform: rotate(90deg);
  transform-origin: center;
  transition: 1s linear all;
  fill-rule: nonzero;
  stroke: currentColor;
}

.base-timer__path-remaining.green {
  color: rgb(65, 184, 131);
}

.base-timer__path-remaining.orange {
  color: orange;
}

.base-timer__path-remaining.red {
  color: red;
}

.base-timer__label {
  position: absolute;
  width: 300px;
  height: 300px;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 48px;
}

.bg-red-500{
  background-color: rgb(239, 68, 68);
}
.bg-red-500:hover{
  background-color: rgb(220,38,38);
}

.bg-yellow-500{
  background-color: rgb(245, 158, 11);
}
.bg-yellow-500:hover{
  background-color: rgb(217, 119, 6);
}
